.geral{
  background-color: cadetblue;
}

.titulo{
  text-align: center;
}

.pokebola{
  width: 50px;
  margin-top: 20px;
}

.fotopekemon{
  width: 200px;
}

.dadospokemon{
  max-width: 500px;
  width: 200px;
  display: flex;
  margin: 10px;
 background-color:rgba(255, 255, 255, 0.486) ;
 border-radius: 30px;
}

.dadosgeral{
  display: flex;
  flex-wrap: wrap;
}

.teste{
  text-align: center;
  
}


